NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
CALLPILOT_SHEET_API_URL=https://script.google.com/macros/s/AKfycbz6kYdAnPN15_Kt74eSWhEPWKGZ2XaNWPU8yZY7trXVZMATLey900NEa8ZJjIc0OE1E9w/exec
CALLPILOT_SHEET_TOKEN=
